@font-face {
  font-family: Geometria;
  src: url('../fonts/geometria-cufonfonts/Geometria-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Geometria;
  src: url('../fonts/geometria-cufonfonts/Geometria.ttf');
}
@font-face {
  font-family: Geometria;
  src: url('../fonts/geometria-cufonfonts/Geometria-Medium.ttf');
  font-weight: 500;
}