.forget {
  font-family: Geometria;
  background: #F0F3F6;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  .forget__wrapper {
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(196, 198, 200, 0.25);
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 68px 60px 67px;
    .forget__title {
      color: #242537;
      font-weight: 500;
      font-size: 35px;
      margin-bottom: 50px;
    }
    .forget__button {
      margin-top: 15px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 60px;
      background: #31C6F1;
      border-radius: 50px;
      filter: drop-shadow(0px 6px 20px rgba(49, 198, 241, 0.42));
      cursor: pointer;
      color: #fff;
      font-weight: 500;
    }
  }
}